/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", "sans-serif";
    --boxShadow
    --color-customBlue: "rgba(28, 100, 242, 1)";
    --shadow-boxShadow-custom: "0 0 15px rgba(0, 0, 0, 0.3)";
    --shadow-boxShadow-right: "10px 0px 10px -5px rgba(0, 0, 0, 0.3)";
}